:root{
    --primary-color: #4c1d95;
    --grey-color: #6b7280;
    --off-white: #f3f4f6;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    padding: 1rem 1rem;
}
.container-fluid{
    padding: 0rem 1rem;
    
}
.container-centered{
    max-width: 600px;
    margin: auto;
}
/* links*/
.link{
    text-decoration: none;
    padding: 0.8rem 1rem;
}
.link-primarylink{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

}
.link-secondarylink{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
/* list */
.list{
    padding: 0rem 0.5 rem;
    display: inline;
    margin: auto;
}
.unordered-list-inline{
    padding:1rem 1rem
}
.list-non-bulleted{
    display: inline;
    list-style: none;
    margin: auto;
}
/*navigation*/
.navigation-bar{
    background-color: var(--primary-color);
    padding: 1rem 0.5rem;
    border-bottom-left-radius: 1rem;
    

}
.navigation-bar .link{
    color: white;
    
}
.navigation-bar div{
    color:white;
    font-weight: bold;
    font-size:large;
}
.text-align-right{
    text-align: right;
}
.hero{
    padding: 2rem;
}
.hero .hero-image{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero .hero-heading{
    color: var(--grey-color);
    text-align: center;
    padding: 1rem;
}
/*section*/
.section .section-header{
    margin: auto;
    text-align: center;
}
.section-off-white{
    background-color: var(--off-white);
   display: block;
}
.section-off-white .section-header{
    
    text-align: center;
    color: var(--primary-color);
}
.footer{
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    text-align: center;
    border-top-right-radius: 1rem;
}
.footer .footer-heading{
    color: white;
}
.footer .link{
    color: white;
}